@font-face {
    font-family: 'AkkuratPro';
    src: url("../fonts/AkkuratPro-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/AkkuratPro-Bold.otf") format('opentype'), url("../fonts/AkkuratPro-Bold.woff") format('woff'), url("../fonts/AkkuratPro-Bold.ttf") format('truetype'), url("../fonts/AkkuratPro-Bold.svg#AkkuratPro-Bold") format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'AkkuratPro';
    src: url("../fonts/AkkuratPro-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/AkkuratPro-Regular.otf") format('opentype'), url("../fonts/AkkuratPro-Regular.woff") format('woff'), url("../fonts/AkkuratPro-Regular.ttf") format('truetype'), url("../fonts/AkkuratPro-Regular.svg#AkkuratPro-Regular") format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'AkkuratPro';
  src: url('../fonts/AkkuratPro-LightItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/AkkuratPro-LightItalic.otf')  format('opentype'),
	     url('../fonts/AkkuratPro-LightItalic.woff') format('woff'), url('../fonts/AkkuratPro-LightItalic.ttf')  format('truetype'), url('../fonts/AkkuratPro-LightItalic.svg#AkkuratPro-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'AkkuratPro';
  src: url('../fonts/AkkuratPro-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/AkkuratPro-BoldItalic.otf')  format('opentype'),
	     url('../fonts/AkkuratPro-BoldItalic.woff') format('woff'), url('../fonts/AkkuratPro-BoldItalic.ttf')  format('truetype'), url('../fonts/AkkuratPro-BoldItalic.svg#AkkuratPro-BoldItalic') format('svg');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'AkkuratPro';
  src: url('../fonts/AkkuratPro-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/AkkuratPro-Light.otf')  format('opentype'),
	     url('../fonts/AkkuratPro-Light.woff') format('woff'), url('../fonts/AkkuratPro-Light.ttf')  format('truetype'), url('../fonts/AkkuratPro-Light.svg#AkkuratPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
